.containersearch{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 1024px;
    align-items: center;
   
}


.listResult{
    flex: 3;
    
    
}


.sbtn{
    height: 30px;
    width: 75px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #b1cef7;
    cursor: pointer;
}